h1 {
    font-weight: 100;
    color: aqua;
}
h2 {
    font-weight: 100;
    color: aqua;
}
h3 {
    font-weight: 100;
    color: aqua;
}
h4 {
    font-weight: 100;
    color: aqua;
}
h5 {
    font-weight: 100;
    color: aqua;
}
h6 {
    font-weight: 100;
    color: aqua;
}
p {
    font-weight: 100;
    color: aqua;
    border: solid white;
}
.background-image {
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    right: 0;
}
.contactbutton {
    color: black;
    background-color: brown;
    padding: 4px;
}
a {
    text-decoration: none;
}
@media (max-width: 700px) {
    .background-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    h1 {
        font-weight: 700;
    }
    h2 {
        font-weight: 700;
    }
    h3 {
        font-weight: 700;
    }
    h4 {
        font-weight: 700;
    }
    h5 {
        font-weight: 700;
    }
    h6 {
        font-weight: 700;
    }
    p {
        font-weight: 700;
    }
}